@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    <abbr title="Phone">P:</abbr>
    024-83760821
</address>
<address>
    <strong>Support1:</strong>   <a href="mailto:yu.mingyang@saci.net.com">yu.mingyang@saci.net.com</a><br />
    <strong>Support2:</strong>   <a href="mailto:li.zhongning@saci.net.com">li.zhongning@saci.net.com</a><br />
</address>