@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>AutorivetTeamWork</h1>
    <p class="lead">
        <a href="https://github.com/goumang2010/AutorivetMVCSite" target=_blank>贡献该项目</a>
    </p>
    <p class="lead">
        <a href="http://192.168.3.32/download/Autorivet_team_manage/setup.exe" target=_blank>下载AutorivetTeamWork桌面版</a>
      </p>
    <p class="lead">
        <a href="http://192.168.3.32/download/SACI_SEARCH/update/setup.exe" target=_blank>下载SACI Search桌面版</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>BA文件搜索</h2>
            <p>
                搜索BAPS,BAMS,BAERD;BM相关教程;标准件手册等
            </p>
            <p>文件编号: <input type="text" id="BASearch" /></p>
            <p> <button class="btn btn-primary" onclick="reToBASearch()">搜索</button><button class="btn btn-link" onclick="reToSpec('BAMS')">BAMS</button> <button class="btn btn-link" onclick="reToSpec('BAERD')">BAERD</button> <button class="btn btn-link" onclick="reToSpec('BAPS')">BAPS</button> </p>
        </div>
        <div class="col-md-4">
            <h2>零组件搜索</h2>
            <br />
            <p>
                搜索零件，组件，图纸等
            </p>
            <br />
            <p> <button class="btn btn-primary" onclick="window.open('/PartSearch/Index')">搜索</button> </p>
        </div>
        <div class="col-md-4 ">
            <h2>自动钻铆Wiki</h2>
            <br />
            <p>
                自动钻铆知识库
            </p>
            <br />
            <p> <button class="btn btn-primary" onclick="window.open('http://192.168.3.32:8080/AutorivetWiki/')">前往</button> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>自动钻铆生产</h2>
            <br />
            <p>
                自动钻铆生产看板(尚未完成)
            </p>
            <br />
            <p> <button class="btn btn-primary" onclick="window.open('/Production/Production')">前往</button> </p>
        </div>
        <div class="col-md-4">
            <h2>自动钻铆工艺文件</h2>
            <br />
            <p>
                自动钻铆全部工艺文件
            </p>
            <br />
            <p> <button class="btn btn-primary" onclick="window.open('http://192.168.3.32/aspsite/AutorivetFiles')">前往</button> </p>
        </div>
        <div class="col-md-4">
            <h2>其他工艺文件</h2>
            <br />
            <p>
                中机身及后桶段部分工艺文件
            </p>
            <br />
            <p> <button class="btn btn-primary" onclick="window.open('http://192.168.3.32/aspsite/Other.aspx?pkg=Rear')">后桶段</button>
             <button class="btn btn-primary" onclick="window.open('http://192.168.3.32/aspsite/Other.aspx?pkg=Mid')">中机身</button> </p>
        </div>
    </div>
</div>
    @Scripts.Render("~/Scripts/Index-jump.js")
