@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loveBA</title>
</head>
<body>
    @Styles.Render("~/Content/Production.css")
    <h1 id="ttop">查询图纸、零件、组件</h1>
    <div>
        <div class="divleft">
            <p>
                @using (Ajax.BeginForm("JsonDetails", new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnSuccess = "Show",
                    OnBegin= "Transition"
                }))
                {
                    @*@Html.TextBox("Search","",htmlAttributes: new { @TextMode = "MultiLine" })*@
                    <label>输入图号或零件号,回车分隔</label>
                    <br />
                    <br />
                    <textarea  name="SearchText" class="MultiText" id="SearchText" TextMode="MultiLine" @*style="height:500px"*@></textarea>
                    <br />
                    <select name="extention">
                        <option value="CATPart"> 零件 </option>
                        <option value="CATDrawing"> 图纸 </option>
                        <option value="CATProduct"> 组件 </option>
                        <option value="pdf"> PDF </option>
                    </select>
                    <input type="submit" value="Search" />
        }
            </p>
        </div>
        <div class="divright">
            <textarea id="addr" class="singletext" rows="1"></textarea>
            <table class="Grid" id="Table"></table>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SACISearch.js")"></script>
</body>
</html>
